<div class="modal-overlay"></div>
<div class="modal-container">
  <div class="circle-icon">
    <i class="pi pi-times" (click)="closeLoginModal()"></i>
  </div>
  <div class="modal-content">
    <div class="modal-header text">
      <h5 class="modal-title ">Inicio de Sesión</h5>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input type="email" class="form-control wide-input" id="email" name="email" placeholder="Correo"
            [(ngModel)]="email" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control wide-input" id="password" name="password" placeholder="Contraseña"
            [(ngModel)]="password" required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-create" (click)="onSubmit()"
        [disabled]="!isValidLogin">Ingresar
      </button>
      <p-progressSpinner *ngIf="showSpinner" [fill]="'#EEEEEE'" [animationDuration]="'0.7'" strokeWidth="3" styleClass="custom-spinner"></p-progressSpinner>
    </div>
  </div>
</div>
<p-toast position="bottom-right"></p-toast>